.contacts {
  border-top: 1px solid $light-grey-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;

  h3 {
    text-align: center;
    margin-bottom: 0;
    color: #4A4A4A;
  }

  .contacts-item {
    display: flex;

    &::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #000;
      content: '';
      margin-right: 10px;
    }

    &:last-child {
      margin-bottom: 5px;
    }

    &.address::before {
      background: url(/assets/images/placeholder.png) center no-repeat;
      background-size: contain;
    }

    &.phone::before {
      background: url(/assets/images/phone-call.png) center no-repeat;
      background-size: contain;
    }

    &.email::before {
      background: url(/assets/images/envelope.png) center no-repeat;
      background-size: contain;
    }

    &.web::before {
      background: url(/assets/images/programming.png) center no-repeat;
      background-size: contain;
    }
  }

  .contacts-links {
    color: #000;
  }

  #contacts-map {
   height: 400px;
   width: 50%;
  }
}

// ************************************
// MEDIA RULES
// ************************************

@media (max-width: 750px) {
  .contacts {
    padding-top: 40px;
    flex-direction: column;
    text-align: center;

    h3 { text-align: center; }

    #contacts-map {
     width: 100%;
     margin-top: 10px;
    }
  }
}
