.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;


  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;

    .hero-titles {
      display: flex;
      align-items: center;
      position: relative;
      #sprakkraft-title {
        font-size: 6.5rem;
        font-family: $bold-font;
        font-weight: 900;
        line-height: 5.5rem;
        color: $light-green-color;
        text-transform: uppercase;
      }

      #sprakkraft-subtitle {
        width: 100%;
        position: absolute;
        top: 20%;
        left: 250px;
        font-family: $cursive-font;
        font-size: 3rem;
        line-height: 3rem;
        color: $dark-green-color;
      }
    }

    .hero-downloads {
      margin-top: 25px;

      .hero-downloads-counter {
        color: $dark-green-color;
        font-size: 2.5rem;
        font-weight: 600;
      }

      .hero-downloads-title {
        color: $btn-green-color;
        font-size: 1.2rem;
        text-transform: uppercase;
      }
    }
  }
}

// ************************************
// MEDIA RULES
// ************************************

@media (min-width: 1450px) {
  .hero {
    .hero-wrapper {
      .hero-titles {
        #sprakkraft-title {
          font-size: 9.5rem;
          line-height: 8.5rem;
        }

        #sprakkraft-subtitle {
          font-size: 5rem;
          line-height: 5rem;
        }
      }

      .hero-downloads {
        .hero-downloads-counter {
          font-size: 3.2rem;
        }

        .hero-downloads-title {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .hero {
    .hero-wrapper {
      .hero-titles {
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

        #sprakkraft-title {
          font-size: 6.5rem;
          line-height: 90px;
        }

        #sprakkraft-subtitle {
          left: 30px;
          font-size: 3rem;
          line-height: 3rem;
          color: $yellow-color;
        }
      }

      .hero-downloads {
        .hero-downloads-counter {
          font-size: 32px;
        }

        .hero-downloads-title {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .hero {
    .hero-wrapper {
      .hero-downloads {
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

        .hero-downloads-counter,
        .hero-downloads-title {
          color: $yellow-color;
        }
      }

      .hero-titles {
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
        #sprakkraft-subtitle {
          color: $yellow-color;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    .hero-wrapper {
      .hero-titles {
        #sprakkraft-title {
          font-size: 5rem;
          line-height: 4.5rem;
        }

        #sprakkraft-subtitle {
          top: 20%;
          left: 30px;
          font-size: 2.5rem;
          line-height: 2.5rem;
        }
      }

      .hero-downloads {
        .hero-downloads-counter {
          font-size: 1.7rem;
        }

        .hero-downloads-title {
          font-size: 0.9rem;
        }
      }
    }
  }
}
