#i18n-switcher {
  display: none;
  position: absolute;
  right: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 50px;
  overflow: hidden;

  &:hover {
    max-height: 150px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  }

  .i18n-switcher-btn {
    padding: 10px 15px;
    padding-right: 25px;
    position: relative;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;

    span {
      width: 30px;
      height: 30px;
      display: block;

      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      background: $light-grey-color;
    }

    &:first-child::after {
      content: '';
      display: block;
      position: absolute;
      right: 10px;
      top: 45%;
      width: 0; 
      height: 0; 
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid $dark-grey-color;
    }

    &#en .i18n-flag { background-image: url($images-path + 'en.svg'); }
    &#se .i18n-flag { background-image: url($images-path + 'se.svg'); }
    &#ar .i18n-flag { background-image: url($images-path + 'ar.svg'); }
  }
}

// Display i18n btns
.i18n #i18n-switcher {
  display: block !important;
}
