<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="Nonprofit organization, learn swedish language, Learn swedish, lära sig svenska, svenska för invandrare, svenska språket, apprendre suédois, apprendre la langue suédoise">
  <meta name="keywords" content="تعليم اللغة السويدية">
  <meta name="keywords" content="تعلم اللغة السويدية">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.ico"/>
  <title>Språkkraft Reading Coach</title>
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Heebo:900|Kaushan+Script|Roboto:300,400" rel="stylesheet">
  <!--Styles-->
  <link rel="stylesheet" href="../all.min.css">
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K2677MM');
  </script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2677MM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="lrc-nav-hero-wrapper wrapper">
    <!--TOP NAVIGATION-->
    <div class="nav top-nav wrapper">
      <a href="/sprakkraft-reading-coach" class="nav-logo">
        <img src="../assets/images/lrc-logo.png" alt="Språkkraft Logotype">
      </a>

      {{> navigation }}
    </div>
    <!--TOP NAVIGATION END-->
    <!-- HERO -->
    <div class="lrc-hero wrapper">
      <div class="lrc-hero-inner">
        <div class="lrc-hero-titles">
          <h1>Språkkraft<br>Reading<br>Coach</h1>

          <p id="step-by-step-guide">Read the step by step guide on how to install and use Språkkraft Reading Coach App 
            <a target="_blank" href="../assets/brochures/Sprakkraft_Reading_Coach_App.pdf">
              <span>in English</span>
              <img src="../assets/images/flag_britain.svg" alt="Great Britain Flag">
            </a> 
            and 
            <a target="_blank" href="../assets/brochures/Sprakkraft_Reading_Coach_App_ar.pdf">
              <span>in Arabic</span>
              <img src="../assets/images/flag_egypt.svg" alt="Egypt Flag">
            </a>
          </p>

          <div class="app-btns">
            <a href="https://itunes.apple.com/se/app/sprakkraft-lascoach-for-att/id1059029767?mt=8"><img src="../assets/images/app-store.svg"></a>
            <a href="https://play.google.com/store/apps/details?id=com.brainglass.lingoal.sprakkraft"><img src="../assets/images/google-play.svg"></a>
          </div>
        </div>
        <div class="lrc-hero-video-wrapper">
          <iframe class="lrc-hero-video"
                  src="https://www.youtube.com/embed/O1nhlRA_E0U?rel=0?&autoplay=1"
                  frameborder="0"
                  allow="autoplay; encrypted-media"
                  allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
    <!-- HERO END -->
  </div>
  
  <div class="lrc-about-container">
    <div class="lrc-about wrapper">
      <div class="lrc-about-text">
        <h3>What is the Språkkraft Reading Coach?</h3>
        <p>The Språkkraft Reading Coach is a free of charge application that allows you who strives to learn the Swedish language to read up-to-date and daily media content from the Swedish media.</p>
        <p>Learning Swedish with the app is fast, easy and efficient. The app provides unique interactive subtitles that come with language support to 18 different languages. If you find a Swedish word you do not understand, click on it and an instant translation becomes available.</p>
      </div>
      <img src="../assets/images/lrc-about.jpg" alt="">
    </div>
  </div>

  <div class="lrc-languages-container">
    <div class="lrc-languages wrapper">
      <div class="lrc-languages-text">
        <h3>Integrated Language Support</h3>
        <p>With Språkkraft Reading Coach, learning Swedish is fast, easy and efficient. You can read up-to-date news, articles and media content from the Swedish media with the help of our integrated language support to <b>18 languages</b>. If there is a word you do not understand, tap on it and see the translation.</p>
      </div>
      <img src="../assets/images/languages.png" alt="">
    </div>
  </div>

  <div class="communication-support">
    <h3>Personal Learning Profile</h3>
    <p>While reading you will find the words marked in the three following colors:</p>

    <div class="colors-containers">
      <div class="color-container" id="green-container">
        <div></div>
        <p>User should know these words</p>
      </div>
      <div class="color-container" id="yellow-container">
        <div></div>
        <p>User should learn these words now, while</p>
      </div>
      <div class="color-container" id="red-container">
        <div></div>
        <p>User can learn them later</p>
      </div>
    </div>

    <div id="bulb-block">
      <img src="../assets/images/sprakchat/light-bulb.svg" alt="">
      <p id="bulb-message">Once you know a word, tap on it and change its color status to Green. This will reflect on your personal learning profile which will help you go to higher levels (A1, A2, B1, B1, C1, C2).</p>
    </div>
  </div>

  <div class="lrc-features-container">
    <div class="lrc-features wrapper">
      <div class="lrc-features-text">
        <h3>Why should you use Språkkraft Reading Coach app?</h3>
      </div>

      <div class="lrc-feature">
        <img class="lrc-feature-img" src="../assets/images/lrc-first-feature.jpg" alt="">
        <p>Study Swedish at your own convenience and learn about the Swedish society through reading Swedish media content.</p>
      </div>
      <div class="lrc-feature">
        <img class="lrc-feature-img" src="../assets/images/lrc-second-feature.jpg" alt="">
        <p>From (Categories and Themes), you can pick your interest categories and favourite themes.</p>
      </div>
      <div class="lrc-feature">
        <img class="lrc-feature-img" src="../assets/images/lrc-third-feature.jpg" alt="">
        <p>Monitor your progress and learned vocabulary through the visual Vocabulary.</p>
      </div>
      <div class="lrc-feature">
        <img class="lrc-feature-img" src="../assets/images/lrc-fourth-feature.png" alt="">
        <p>(A Personal Reading List) to save and share favourite videos and articles with your friends.</p>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="copyright">
    <p class="social-title">Follow us:</p>
    <ul class="social wrapper">
      <li><a target="_blank" href="https://www.facebook.com/sprakkraft/"></a></li>
      <li><a target="_blank" href="https://twitter.com/sprakkraft?lang=en"></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/company/spr%C3%A5kkraft"></a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCa3DP9ENeFr94w-WtFclMwg"></a></li>
    </ul>
    <p>Copyright 2017 - Språkkraft - <a class="privacy-link" target="_blank" href="https://sprakkraft.org/node/sprakkraft-privacy-policy.html">Privacy</a></p>
  </div>
  <!-- FOOTER END-->
  <script async src="../all.min.js"></script>
</body>
</html>
