<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="Nonprofit organization, learn swedish language, L444444444444444444444444444444444earn swedish, lära sig svenska, svenska för invandrare, svenska språket, apprendre suédois, apprendre la langue suédoise">
  <meta name="keywords" content="تعليم اللغة السويدية">
  <meta name="keywords" content="تعلم اللغة السويدية">
  <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico"/>
  <title>About</title>
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Heebo:900|Kaushan+Script|Roboto:300,400" rel="stylesheet">
  <!--Styles-->
  <link rel="stylesheet" href="/all.min.css">
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K2677MM');
  </script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2677MM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!--TOP NAVIGATION-->
  <div class="nav top-nav wrapper">
    <a href="/" class="nav-logo">
      <img src="/assets/images/sprakkraft-logo.png" alt="Språkkraft Logotype">
    </a>
    <nav>
      <div id="nav-toggle" onclick="toggleMenu()"></div>
      <ul id="nav-links">
        <li><a href="/">Home</a></li>
        <li class="has-sub">
          <a href="/about">About</a>
          <ul class="sub">
            <li><a href="/about#about">What we do</a></li>
            <li><a href="/about#story">Our Story</a></li>
            <li><a href="/about#vision">Vision</a></li>
            <li><a href="/about#faq">FAQ</a></li>
            <li><a href="/about#contacts">Contact us</a></li>
          </ul>
        </li>
        <li class="has-sub">
          <a href="#">Apps</a>
          <ul class="sub right-alighnment">
            <li><a href="/sprakkraft-reading-coach">Språkkraft Reading Coach</a></li>
            <li><a href="/svt-sprakplay">SVT Språkplay</a></li>
            <li><a href="/sprakchat-mentor">Språkchat for Mentors</a></li>
            <li><a href="/sprakchat-student">Språkchat for Students</a></li>
          </ul>
        </li>
        <li><a href="http://press.sprakkraft.org/">Press</a></li>
      </ul>
    </nav>
  </div>
  <!--TOP NAVIGATION END-->
  <!--HERO-->
  <div class="about-hero wrapper">
    <h1>About us</h1>
    <div class="hero-divider"></div>
    <div class="about-hero-sub">
      <h3>Our goal is to empower immigrants to learn Swedish language in a fun and engaging way</h3>
    </div>
  </div>
  <!--HERO END-->
  <!--INTRO-->
  <div id="about" class="intro">
    <div class="intro-wrapper wrapper">
      <div class="intro-text">
        <h5>We offer free and easy to use apps and digital tools to efficiently learn Swedish language.</h5>
        <p>Språkkraft is a Swedish NGO that focuses at increasing the integration rate of immigrants, refugees and newly arrived people to Sweden through Swedish language learning.</p>
        <p>Through our three easy and fun to use apps and Webapp, we apply the essential concepts of reading, watching and communicating in Swedish. Through that, we promise you an efficient journey in learning Swedish.</p>
      </div>

      <div class="intro-img">
        <img src="/assets/images/about-intro.png" alt="">
      </div>
    </div>
  </div>
  <!--INTRO END-->
  <!--ABOUT-->
  <div id="story" class="about wrapper">
    <div class="about-text">
      <h3>Founded in Stockholm in Spring 2015</h3>
      <p>by a number of committed social entrepreneurs to gather digital solutions with the potential to radically increase the integration rate among refugees, new arrivals and other immigrants to Sweden.</p>
      <p>As a result, Språkkraft has launched <b>two apps</b> (both for mobile and tablets on Android and iOS with integrated dictionaries and language exercises to 18 different immigrant languages):</p>
    </div>
    <div class="about-apps">
      <div class="about-apps-wrapper">
        <div class="lrc">
          <h5>Språkkraft<br>Reading Coach</h5>
          <div class="date">February 2016</div>
          <div class="about-app-btns">
            <a href="https://itunes.apple.com/se/app/sprakkraft-lascoach-for-att/id1059029767?mt=8"><img src="/assets/images/app-store.svg"></a>
            <a href="https://play.google.com/store/apps/details?id=com.brainglass.lingoal.sprakkraft"><img src="/assets/images/google-play.svg"></a>
          </div>
        </div>
        <div class="svt">
          <h5>SVT<br>Språkplay</h5>
          <div class="date">October 2016</div>
          <div class="about-app-btns">
            <a href="https://itunes.apple.com/se/app/svt-spr%C3%A5kplay/id1146851405?l=en&mt=8"><img src="/assets/images/app-store.svg"></a>
            <a href="https://play.google.com/store/apps/details?id=se.svt.sprakplay&hl=en"><img src="/assets/images/google-play.svg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--ABOUT END-->
  <!--VISION-->
  <div id="vision" class="vision">
    <div class="vision-wrapper">
      <h3>Our vision</h3>
        <p>To contribute to any organisational, technical and educational infrastructures that support the individual to integrate faster and better in order to soon give back to society.</p>
        <blockquote>
          The language is something all established Swedes possess and can share with new Swedes for the greater good of the Swedish community.
        </blockquote>
        <p>Språkkraft wants to help individuals outside of organized activities develop their Swedish during their free time. </p>
      </div>
    </div>
  <!--VISION END-->
  <!--FAQ-->
  <div id="faq" class="faq">
    <h3>Common questions</h3>
    <p id="faq-note">Can’t find an answer? Feel free to contact us: e-mail us at kontakt@sprakkraft.org or call us at <span>+46 707 48 5693</span></p>

    <ul class="toggle-ul">
      <li class="toggle-li" onclick="toggleList()">
        <h4>What is our goal?</h4>
        <div class="toggle-ul-full">
          <p>To empower new Swedes in the society. Sweden has witnessed an unprecedented influx of immigrants in the last years. And to effectively onboard them to be an integral part of the society, language learning is one essential aspect to focus on.</p>
          <p>Our apps exist to expedite the integration process. While waiting to register in language courses, you can practice using our apps wherever you are and whenever you can.</p>
        </div>
      </li>
      <li class="toggle-li" onclick="toggleList()">
        <h4>Who should use Språkkraft apps?</h4>
        <div class="toggle-ul-full">
          <ul>
            <li>Newly arrived people, immigrants and those who need to learn Swedish as a language in Sweden.</li>
            <li>Those who need to learn and study Swedish when they want and wherever they are. You control your learning curve.</li>
            <li>Those who are waiting to register or are in SFI courses (utbildning i svenska för invandrare)</li>
          </ul>
        </div>
      </li>
      <li class="toggle-li" onclick="toggleList()">
        <h4>Why should you use our apps?</h4>
        <div class="toggle-ul-full">
          <p>Users prefer our apps because they connect them not only to the everyday Swedish language but to the whole society in large.</p>
          <ul>
            <li>You get the chance to watch real live Swedish Television shows and programs through our SVT Språkplay.</li>
            <li>You would be able to read news, articles or simple tweets and easy articles through our Reading Coach app.</li>
            <li>To complement both apps, we have launched Språkchat to communicate with native Swedish speakers who will help you practice the language.</li>
            <li>We are unique. Our apps are available with language learning support to 18 different immigrant languages: You can click on any Swedish word to know its meaning through your chosen mother language.</li>
            <li>The apps are designed to meet your learning level in Swedish from Beginner to Proficiency.</li>
            <li>With a distinctive (Personal Learning Profile), you can easily plan your learning curve and manage learning new Swedish vocabulary.</li>
          </ul>
        </div>
      </li>
      <li class="toggle-li" onclick="toggleList()">
        <h4>Who can’t use our apps?</h4>
        <div class="toggle-ul-full">
          <p>Due to intellectual property rights issues Språkkraft apps can only be used in Sweden.</p>
        </div>
      </li>
      <li class="toggle-li" onclick="toggleList()">
        <h4>What devices can run Språkkraft apps?</h4>
        <div class="toggle-ul-full">
          <p>Språkkraft two apps are compatible with <b>cell phones and tablets</b> on <b>Android</b> and <b>iOS</b> operation system.</p>
        </div>
      </li>
    </ul>
  </div>
  <!--FAQ END-->
  <!--CONTACTS-->
  <div id="contacts" class="contacts">
    <div class="contacts-wrapper wrapper">
          <script id="contactus" type="text/x-handlebars-template">
            {{{contact}}}
          </script>

        <!--<h3>Contact us</h3>
        <p>We welcome you and all your inquiries, suggestions and feedback.</p>
        <!-- Address is hidden temporarily -->
        <!-- <p class="contacts-item address">Grev Turegatan 9, 114 46 Stockholm, Sweden</p> -->
        <!--<p class="contacts-item phone">+46 707 48 5693</p>
        <p class="contacts-item email"><a class="contacts-links" href="mailto:kontakt@sprakkraft.org">kontakt@sprakkraft.org</a></p>
        <p class="contacts-item web"><a target="_blank" class="contacts-links" href="http://sprakkraft.org/">www.sprakkraft.org</a></p>
        -->
    </div>
    <!-- <div id="contacts-map"></div> -->
  </div>
  <!--CONTACTS END-->

  <!-- FOOTER -->
  <div class="copyright">
    <p class="social-title">Follow us:</p>
    <ul class="social wrapper">
      <li><a target="_blank" href="https://www.facebook.com/sprakkraft/"></a></li>
      <li><a target="_blank" href="https://twitter.com/sprakkraft?lang=en"></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/company/spr%C3%A5kkraft"></a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCa3DP9ENeFr94w-WtFclMwg"></a></li>
    </ul>
    <p>Copyright 2017 - Språkkraft - <a class="privacy-link" target="_blank" href="https://sprakkraft.org/node/sprakkraft-privacy-policy.html">Privacy</a></p>
  </div>
  <!-- FOOTER END-->
  <script async src="all.min.js"></script>
  <script>
    // Opening/Closing Common questions items
    function toggleList() {
      var targetTag = event.target.tagName.toLowerCase(),
          targetParent = event.target.parentNode;
      if (targetTag == 'h4') {
        targetParent.classList.toggle('opened');
      };
    };
  </script>
  <script>
    // Contacts map
    function initMap() {
      var sprakkraft = {lat: 59.335803, lng: 18.075684};
      var map = new google.maps.Map(document.getElementById('contacts-map'), {
        zoom: 14,
        center: sprakkraft,
        streetViewControl: false,
        signInControl: false,
        mapTypeControl: false
      });
      var marker = new google.maps.Marker({
        position: sprakkraft,
        map: map
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgUhF098GQgX_NzEbO8HhLH-Rg6q03bWg&callback=initMap">
  </script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.js">
</script> 
   </body>
  </html>
</body>
</html>