<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="keywords" content="Nonprofit organization, learn swedish language, Learn swedish, lära sig svenska, svenska för invandrare, svenska språket, apprendre suédois, apprendre la langue suédoise">
  <meta name="keywords" content="تعليم اللغة السويدية">
  <meta name="keywords" content="تعلم اللغة السويدية">
  <title>Språkkraft</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico"/>
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Heebo:900|Kaushan+Script|Roboto:300,400" rel="stylesheet">
  <!--Styles-->
  <link rel="stylesheet" href="all.min.css">
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K2677MM');
  </script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2677MM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!--Wrapper for Hero background image-->
  <div class="nav-hero-wrapper">
    <div id="hero"></div>
    <!--TOP NAVIGATION-->
    <div class="nav top-nav wrapper">
      <a href="/" class="nav-logo">
        <img src="assets/images/sprakkraft-logo.png" alt="Språkkraft Logotype">
      </a>

      <ul id="i18n-switcher">
        <li class="i18n-switcher-btn selected-lang" id="en"><span class="i18n-flag"></span></li>
        <li class="i18n-switcher-btn" id="se"><span class="i18n-flag"></span></li>
        <li class="i18n-switcher-btn" id="ar"><span class="i18n-flag"></span></li>
      </ul>

      <nav>
        <div id="nav-toggle" onclick="toggleMenu()"></div>
        <ul id="nav-links">
          <li><a href="/">Home</a></li>
          <li class="has-sub">
            <a href="/about">About</a>
            <ul class="sub">
              <li><a href="/about#about">What we do</a></li>
              <li><a href="/about#story">Our Story</a></li>
              <li><a href="/about#vision">Vision</a></li>
              <li><a href="/about#faq">FAQ</a></li>
              <li><a href="/about#contacts">Contact us</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="#">Apps</a>
            <ul class="sub right-alighnment">
              <li><a href="/sprakkraft-reading-coach">Språkkraft Reading Coach</a></li>
              <li><a href="/svt-sprakplay">SVT Språkplay</a></li>
              <li><a href="/sprakchat-mentor">Språkchat for Mentors</a></li>
              <li><a href="/sprakchat-student">Språkchat for Students</a></li>
            </ul>
          </li>
          <li><a href="http://press.sprakkraft.org/">Press</a></li>
        </ul>
      </nav>
    </div>
    <!--TOP NAVIGATION END-->

    <!--HERO-->
    <div class="hero wrapper">
      <div class="hero-wrapper">
        <div class="hero-titles">
          <div id="sprakkraft-title">Språk<br>kraft</div>
          <div id="sprakkraft-subtitle"><span class="i18n" id="i18n-hero-subtitle">Empower new<br>Swedes</span></div>
        </div>

        <div class="hero-downloads">
          <div class="hero-downloads-counter">308 974+</div>
          <div class="hero-downloads-title"><span class="i18n" id="i18n-downloads">Downloads</span></div>
        </div>
      </div>
    </div>
    <!--HERO END-->
  </div>

  <!--APPS-->
  <div class="apps wrapper">
    <!--SPRÅKKRAFT READING COACH-->
    <div class="app app-reading">
      <h3 class="app-title"><span class="i18n" id="i18n-reading">Reading</span></h3>
      <div class="app-image">
        <img src="assets/images/lrc.png" alt="">
      </div>

      <div class="app-text">
        <div id="lrc-title" class="app-name">Språkkraft Reading Coach</div>
        <div class="app-desc">When you know a little Swedish it is time to start reading real native media. Start with subtitles and tweets, continue with news articles, and soon read short stories and full novels.</div>
        <a class="app-read-more" target="_blank" href="/sprakkraft-reading-coach">Read more</a>
      </div>

      <div class="app-btns">
        <a href="https://itunes.apple.com/se/app/sprakkraft-lascoach-for-att/id1059029767?mt=8"><img src="assets/images/app-store.svg"></a>
        <a href="https://play.google.com/store/apps/details?id=com.brainglass.lingoal.sprakkraft"><img src="assets/images/google-play.svg"></a>
      </div>
    </div>
    <!--SVT SPRÅKPLAY-->
    <div class="app app-watching">
      <h3 class="app-title">Watching</h3>
      <div class="app-image">
        <img src="assets/images/svt-sprakplay.png">
      </div>

      <div class="app-text">
        <div id="svt-title" class="app-name">SVT Språkplay</div>
        <div class="app-desc">Watch real Swedish TV with interactive subtitles for language support to 18 different immigrant languages.</div>
        <a class="app-read-more" target="_blank" href="/svt-sprakplay">Read more</a>
      </div>

      <div class="app-btns">
        <a href="https://itunes.apple.com/se/app/svt-spr%C3%A5kplay/id1146851405?l=en&mt=8"><img src="assets/images/app-store.svg"></a>
        <a href="https://play.google.com/store/apps/details?id=se.svt.sprakplay&hl=en"><img src="assets/images/google-play.svg"></a>
      </div>
    </div>
    <!--SPRÅKCHAT-->
    <div class="app app-communicating">
      <h3 class="app-title">Communicating</h3>
      <div class="app-image">
        <img src="assets/images/sprakchat.png">
      </div>

      <div class="app-text">
        <div class="app-name">Språkchat</div>
        <div class="app-desc">Connect with native language mentors that will help you communicate and improve your Swedish.</div>
        <!-- Uncomment buttons when separate Sprakchat pages are finalized -->
        <a class="app-go-to-sprakchat" target="_blank" href="/sprakchat-student">Språkchat for Students</a>
        <a class="app-go-to-sprakchat" target="_blank" href="/sprakchat-mentor">Språkchat for Mentors</a>
      </div>
    </div>
  </div>
  <!--APPS END-->

  <!--PERSONAL LEARNING PROFILE-->
  <div class="plp wrapper">
    <h3 class="plp-title">Personal learning profile</h3>

    <div class="plp-text">
      <p class="i18n" id="i18n-plp-desc">When you read text in our apps you see that words that you know are marked <span class="plp-green">green</span>, words that you need to learn now are <span class="plp-yellow">yellow</span> and <span class="plp-red">red</span> ones you can look-up, but learn later.</p>
    </div>

    <div class="plp-item-wrapper">
      <div class="plp-item" id="plp-green">
        <div class="plp-item-circle"></div>
        <h4 class="plp-item-title">What you know</h4>
      </div>
      <div class="plp-item" id="plp-yellow">
        <div class="plp-item-circle"></div>
        <h4 class="plp-item-title">Learn now</h4>
      </div>
      <div class="plp-item" id="plp-red">
        <div class="plp-item-circle"></div>
        <h4 class="plp-item-title">Learn later</h4>
      </div>
    </div>

    <a href="" class="btn plp-btn" id="read-more">Read more</a>
  </div>
  <!--PERSONAL LEARNING PROFILE END-->

  <!--FEEDBACK USERS-->
  <!--TBD: set first feedback and img btns dynamically-->
  <div class="feedback feedback-users wrapper">
    <h3 class="feedback-title">What Users Say About Our Apps</h3>
    <p class="feedback-text">“Sedan kom jag till Sverige på 2014, Jag försöker lära mig svenska genom olika sätt. Varav en är Språkkraft appar, som Jag använder alltid när min vän rekommenderade mig att kolla på. De är absolut viktiga för som vill båda lära sig svenska språket och veta mer om Svensk samhället.”</p>
    <div class="feedback-author">Heba Hamour</div>

    <div class="feedback-image-wrapper">
      <img src="/assets/images/testimonials/feedback-1.png" class="feedback-image feedback-btn active" id="feedback-1">
      <img src="/assets/images/testimonials/feedback-2.png" class="feedback-image feedback-btn" id="feedback-2">
      <img src="/assets/images/testimonials/feedback-3.png" class="feedback-image feedback-btn" id="feedback-3">
      <img src="/assets/images/testimonials/feedback-4.png" class="feedback-image feedback-btn" id="feedback-4">
      <img src="/assets/images/testimonials/feedback-5.png" class="feedback-image feedback-btn" id="feedback-5">
    </div>
  </div>
  <!--FEEDBACK USERS END-->

  <!--VOLUNTEER-->
  <div class="volunteer wrapper">
    <div class="volunteer-top">
      <div class="volunteer-text">
        <h2 class="cursive-title">Volunteer</h2>

        <ul>
          <li>
            <h4>1. Contribute content</h4>
            <p>Help us by <span class="green">creating animated videos</span> explaining Swedish society and culture with the help of the tool Plotagon Education.</p>
            <p>This will help accelerate language learning and will also explain Swedish society in a fun and interactive way.</p>
          </li>
          <li>
            <h4>2. Help us translate</h4>
            <p>Our applications come with interactive subtitles and with language <span class="green">support to 18 different languages.</span></p>
            <p>We are calling for volunteers that can help out with translations, from English/Swedish to the 18 languages used in Språkkraft</p>
            <a href="" class="btn volunteer-text-btn">Get involved</a>
          </li>
          <li>
            <h4>3. Sign up as digital language mentor</h4>
            <p>We are also looking for <span class="green">mentors with native or near native Swedish language skills.</span> Volunteers act as chat supporters for immigrants who want to learn Swedish and encourage participants to discuss engaging topics.</p>
            <a href="" class="btn volunteer-text-btn">Sign up</a>
          </li>
        </ul>
      </div>
      <div class="volunteer-image"></div>
    </div>
    <div id="volunteer-extra">
      <p>We are searching for you to be part of our family! Join us as a volunteer in Språkkraft, a nonprofit organization that engages native Swedes to contribute in the Swedish community digitally.</p>
      <p>Språkkraft seeks to constantly enhance its content and users experience by having volunteers who can act as translators, mentors, UX professionals, teachers and linguists. This will ensure help localize apps, empower users, improve pedagogy and personalize language resources.</p>
      <p>Språkkraft is one of the largest integration projects in Sweden. We connect immigrants with Swedish media content and native Swedes - enabling anyone coming to Sweden to quickly learn, speak and understand Swedish and the Swedish society.</p>
      <h4>How many hours should I volunteer per week?</h4>
      <p>The volunteers at Språkkraft contributes to one of the greatest integration projects in Sweden, by spending only 60 min a week, whenever they want and have time</p>
    </div>
    <div class="btn" id="volunteer-extra-btn">Read more</div>
  </div>
  <!--VOLUNTEER END-->

  <!--FEEDBACK VOLUNTEERS-->
  <div class="feedback feedback-volunteers wrapper">
    <h3 class="feedback-title">Volunteers say about us</h3>
    <p class="feedback-text" id="feedback-text">Fusce tempor felis lacus, a hendrerit urna facilisis at. Sed sollicitudin bibendum tincidunt. Aenean a bibendum magna. Pellentesque feugiat urna a lectus consequat, quis vulputate nunc feugiat.</p>
    <div class="feedback-author">Volunteer1</div>
    <div class="feedback-image-wrapper">
      <div class="feedback-image feedback-btn active" id="feedback-5"></div>
      <div class="feedback-image feedback-btn" id="feedback-6"></div>
      <div class="feedback-image feedback-btn" id="feedback-7"></div>
      <div class="feedback-image feedback-btn" id="feedback-8"></div>
    </div>
  </div>
  <!--FEEDBACK VOLUNTEERS END-->

  <!--SUPPORT US-->
  <div class="support wrapper">
    <h3 class="support-title">Support us</h3>
    <p class="support-text">Språkkraft is a nonprofit organization funded through donations, project financing and partnerships. You can support us and become a sponsor to Sprakkraft or sign up for one of our engagement packages to get your organization involved.</p>
    <div class="support-option-wrapper">
      <div class="support-option">
        <div class="support-option-title cursive-title">Partner<br>with us</div>
        <a href="" class="btn support-option-btn">Learn more</a>
      </div>
      <div class="support-option">
        <div class="support-option-title cursive-title">Engagement<br>Packages</div>
        <span class="subtitle">Coming soon</span>
        <a href="" class="btn support-option-btn">Learn more</a>
      </div>
    </div>
  </div>
  <!--SUPPORT US END-->

  <!--BOTTOM NAVIGATION-->
  <div class="nav bottom-nav wrapper">
    <h3 class="bottom-nav-link"><a href="">Press</a></h3>
    <h3 class="bottom-nav-link"><a href="">Blog</a></h3>
  </div>
  <!--BOTTOM NAVIGATION END-->

<!--COPYRIGHT-->
<div id="contacts" class="contacts">
  <div class="contacts-wrapper wrapper">
      <h3>Contact us</h3>
      <p>We welcome you and all your inquiries, suggestions and feedback.</p>
      <!-- Address is hidden temporarily -->
      <!-- <p class="contacts-item address">Grev Turegatan 9, 114 46 Stockholm, Sweden</p> -->
      <p class="contacts-item phone">+46 707 48 5693</p>
      <p class="contacts-item email"><a class="contacts-links" href="mailto:kontakt@sprakkraft.org">kontakt@sprakkraft.org</a></p>
      <p class="contacts-item web"><a target="_blank" class="contacts-links" href="http://sprakkraft.org/">www.sprakkraft.org</a></p>
  </div>
  <!-- <div id="contacts-map"></div> -->
</div>
<!--COPYRIGHT END-->
<div class="copyright">
  <p class="social-title">Follow us:</p>
  <ul class="social wrapper">
    <li><a target="_blank" href="https://www.facebook.com/sprakkraft/"></a></li>
    <li><a target="_blank" href="https://twitter.com/sprakkraft?lang=en"></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/company/spr%C3%A5kkraft"></a></li>
    <li><a target="_blank" href="https://www.youtube.com/channel/UCa3DP9ENeFr94w-WtFclMwg"></a></li>
  </ul>
  <p>Copyright 2017 - Språkkraft - <a class="privacy-link" target="_blank" href="https://sprakkraft.org/node/sprakkraft-privacy-policy.html">Privacy</a></p>
</div>

  <!-- jQuery -->
  <script src="jquery.min.js"></script>
  <!--Scripts-->
  <script async src="all.min.js"></script>

  <script>
    // Contacts map
    function initMap() {
      var sprakkraft = {lat: 59.335803, lng: 18.075684};
      var map = new google.maps.Map(document.getElementById('contacts-map'), {
        zoom: 14,
        center: sprakkraft,
        streetViewControl: false,
        signInControl: false,
        mapTypeControl: false
      });
      var marker = new google.maps.Marker({
        position: sprakkraft,
        map: map
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgUhF098GQgX_NzEbO8HhLH-Rg6q03bWg&callback=initMap">
  </script>

</body>
</html>
