<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name="keywords" content="Swedish language, Learn swedish">
  <meta name="keywords" content="lära sig svenska, svenska språket">
  <meta name="keywords" content="apprendre suédois, apprendre la langue suédoise">
  <meta name="keywords" content="تعليم اللغة السويدية">
  <meta name="keywords" content="اللغة السويدية">

  <link rel="shortcut icon" type="image/png" href="../assets/images/ur.png"/>
  <title>UR Språkplay</title>

  <link href="https://fonts.googleapis.com/css?family=Heebo:900|Kaushan+Script|Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" href="../all.min.css">

  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K2677MM');
  </script>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2677MM"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="ur-nav-hero-wrapper wrapper">
    <!--TOP NAVIGATION-->
    <div class="nav top-nav wrapper">
      <a href="/ur-sprakplay" class="nav-logo">
        <img src="../assets/images/ur.png" alt="UR Språkplay Logotype">
      </a>

      {{> navigation }}
    </div>
    <!--TOP NAVIGATION END-->
    <!-- HERO -->
    <div class="ur-hero wrapper">
      <div class="ur-hero-inner">
        <div class="ur-hero-titles">
          <h1>UR<br>Språkplay</h1>

          <p id="step-by-step-guide">
            UR Språkplay adds a new universe of fantastic educational programs to the Språkkraft concept family. No need to install anything because this is a web app.
          </p>

          <p>
            Find it here: <a href="https://www.ur.se/sprakplay/" target="_blank">www.ur.se/sprakplay</a>
          </p>
        </div>

        <div class="ur-hero-video-wrapper">
          <video class="ur-hero-video"
                 src="https://sprakkraft.org/reading/ur/ur-sprakplay-intro.mp4"
                 poster="https://sprakkraft.org/reading/ur/ur-sprakplay-intro-poster.png"
                 controls autoplay>
          </video>
        </div>
      </div>
    </div>
    <!-- HERO END -->
  </div>
  
  <div class="ur-about-container">
    <div class="ur-about wrapper">
      <div class="ur-about-text">
        <h3>What is UR Språkplay?</h3>
        <p>UR Språkplay is a language support for those who want to practice their Swedish or improve your Swedish skill level. When you watch programs from UR Skola they are enhanced with interactive subtitles with support to 18 different immigrant languages.</p>
      </div>
      <img src="../assets/images/ur-about.png" alt="">
    </div>
  </div>

  <div class="ur-languages-container">
    <div class="ur-languages wrapper">
      <div class="ur-languages-text">
        <h3>Interactive language support</h3>
        <p>With UR Språkplay, learning Swedish is fast, easy and efficient. You can watch your favourite UR Skola programs and read the text in Swedish with the help of our integrated language support to <b>18 languages</b>. If there is a word you do not understand, tap on it and see the translation.</p>
      </div>
      <img src="../assets/images/languages.png" alt="">
    </div>
  </div>

  <div class="communication-support">
    <h3>Personal Learning Profile</h3>
    <p>While reading you will find the words marked in the three following colors:</p>

    <div class="colors-containers">
      <div class="color-container" id="green-container">
        <div></div>
        <p>User should know these words</p>
      </div>
      <div class="color-container" id="yellow-container">
        <div></div>
        <p>User should learn these words now, while</p>
      </div>
      <div class="color-container" id="red-container">
        <div></div>
        <p>User can learn them later</p>
      </div>
    </div>

    <div id="bulb-block">
      <img src="../assets/images/sprakchat/light-bulb.svg" alt="">
      <p id="bulb-message">Once you know a word, tap on it and change its color status to Green. This will reflect on your personal learning profile which will help you go to higher levels (A1, A2, B1, B1, C1, C2).</p>
    </div>
  </div>

  <div class="ur-features-container">
    <div class="ur-features wrapper">
      <div class="ur-features-text">
        <h3>Use ur språkplay app to learn swedish language because you can:</h3>
      </div>

      <div class="ur-feature">
        <img class="ur-feature-img" src="../assets/images/ur-programs.jpg" alt="">
        <p>Learn Swedish through watching your favourite UR programs.</p>
      </div>
      <div class="ur-feature">
        <img class="ur-feature-img" src="../assets/images/ur-subtitles.jpg" alt="">
        <p>Watch almost all UR Skola’s programs with Swedish interactive subtitles.</p>
      </div>
      <div class="ur-feature">
        <img class="ur-feature-img" src="../assets/images/ur-profile.jpg" alt="">
        <p>Monitor your progress and learned vocabulary through one’s Personal Learning Profile.</p>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <div class="copyright">
    <p class="social-title">Follow us:</p>
    <ul class="social wrapper">
      <li><a target="_blank" href="https://www.facebook.com/sprakkraft/"></a></li>
      <li><a target="_blank" href="https://twitter.com/sprakkraft?lang=en"></a></li>
      <li><a target="_blank" href="https://www.linkedin.com/company/spr%C3%A5kkraft"></a></li>
      <li><a target="_blank" href="https://www.youtube.com/channel/UCa3DP9ENeFr94w-WtFclMwg"></a></li>
    </ul>
    <p>Copyright 2017 - Språkkraft - <a class="privacy-link" target="_blank" href="https://sprakkraft.org/node/sprakkraft-privacy-policy.html">Privacy</a></p>
  </div>
  <!-- FOOTER END-->
  <script async src="../all.min.js"></script>
</body>
</html>
